[submodule "cfg/.config/luakit/plugins"]
	path = cfg/.config/luakit/plugins
	url = https://github.com/mason-larobina/luakit-plugins.git
[submodule "cfg/.vim/bundle/vim-fugitive"]
	path = cfg/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "cfg/.vim/bundle/dwm.vim"]
	path = cfg/.vim/bundle/dwm.vim
	url = git://github.com/dang/dwm.vim.git
	branch = master
[submodule "gtws"]
	path = gtws
	url = git://github.com/dang/gtws.git
	branch = master
[submodule "cfg/.vim/bundle/nerdcommenter"]
	path = cfg/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "cfg/.vim/bundle/ultisnips"]
	path = cfg/.vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "cfg/.vim/bundle/vimoutliner"]
	path = cfg/.vim/bundle/vimoutliner
	url = https://github.com/vimoutliner/vimoutliner.git
[submodule "cfg/.vim/bundle/rfc-syntax"]
	path = cfg/.vim/bundle/rfc-syntax
	url = https://github.com/vim-scripts/rfc-syntax
[submodule "cfg/.config/awesome/apw"]
	path = cfg/.config/awesome/apw
	url = https://github.com/mokasin/apw.git
